.booking-payment 
    .booking-payment__full
        .booking-payment__title 
            | Pay in full
        .booking-payment__text
            | Pay the total and you are all set
        input(type="radio").booking-payment__radio

    .booking-payment__part
        .booking-payment__title
            | Pay part now, part later
        .booking-payment__text
            | Pay $207.43 now, and the rest ($207.43) will be automatically charged to the same payment method on Nov 14, 2022. No extra fees.
        input(type="radio").booking-payment__radio
        
    .booking-payment__link
            | More info

        



 
