.flight-ticket
    .flight-ticket__background 
        .flight-ticket__top
            .flight-ticket__title
                | Return Wed, Dec 8
            .flight-ticket__duration
                | 2h 28m
        .flight-ticket__middle
            .flight-ticket__airline
                .flight-ticket__airline-logo
                .flight-ticket__airline-text
                    span Emirates 
                    span Airbus A320
            .flight-ticket__services

        .flight-ticket__bottom
            .flight-ticket__time 
                span 12:00 pm
                span Newark(EWR)
            .flight-ticket__spacer
            .flight-ticket__time
                span 12:00 pm
                span Newark(EWR)