.hotel-details-header
    .hotel-details-header__left
        .hotel-details-header__main
            .hotel-details-header__main-title
                | CVK Park Bosphorus Hotel Istanbul
            .hotel-details-header__main-rating
                | 5 Star Hotel

        .hotel-details-header__details
            .hotel-details-header__details-adress
                | Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437

            .hotel-details-header__details-rating
                | 4.2
                | Very Good 371 reviews
                | Book now
    .hotel-details-header__right
        .hotel-details-header__price
            | $240/night
        .hotel-details-header__buttons
            +button('', '', {id: '#send-icon', width: 20, height: 20}, 'border', '')
            +button('', '', {id: '#send-icon', width: 20, height: 20}, 'border', '')
            +button('Book now', '150px', '', '', 'bold')

    
    
    
    
    