.login-form
    .login-form__input-group
        +input('Email', 'john.doe@gmail.com', '100%', '')
    
    .login-form__button-group     
        button.login-button(type="button")
                | Submit