.login-form
    .login-form__input-group
        .login-form__input-group-row
            +input('Create Password', '•••••••••••••••••••••••••', '100%', {id: '#eye-off', width: 24, height: 24})
        .login-form__input-group-row
            +input('Re-enter Password', '•••••••••••••••••••••••••', '100%', {id: '#eye-off', width: 24, height: 24})

    .login-form__button-group     
        button.login-button(type="button")
            | Set Password