form.subscribe-form
    .subscribe-form__content
        .subscribe-form__title 
            | Subscribe Newsletter
        .subscribe-form__subtitle 
            | The Travel
        .subscribe-form__text
            | Get inspired! Receive travel discounts, tips and behind the scenes stories.
        .subscribe-form__row
            input.subscribe-form__input(type="text" value="Your email address") 
            +subscribe-button("Subscribe") 
    .subscribe-form__image
        img(src="./img/footer/mailbox.svg", alt="mailbox")