nav.track-nav
    a.track-link(href="#!") Turkey
    +use-svg(16, 16, '#arrow-left')
    a.track-link(href="#!") Istanbul
    +use-svg(16, 16, '#arrow-left')
    a.track-link.track-link--active(href="#!") CVK Park Bosphorus Hotel Istanbul
    