.user-droplist(dropdown="user")
    .user-droplist__header
        .user-droplist__avatar
            img(src="./../../img/account/avatar.jpg", alt="user-avatar")
        .user-droplist__user
            .user-droplist__user-name John Doe
            .user-droplist__user-status Online

    ul.user-droplist__menu
        - var items = ['', '', '']
        -
            var items = [
                {text: 'My account', icon: 'user.svg'},
                {text: 'Payments', icon: 'card.svg'},
                {text: 'Settings', icon: 'settings.svg'}
            ]
        each item in items 
            li
                a(href="#!").user-droplist__menu-item
                    .user-droplist__menu-item-icon
                        img(src="./../../img/icons/user-dropdown/" + item.icon, alt="icon")
                    .user-droplist__menu-item-text #{item.text}
                    .user-droplist__menu-item-arrow
                        +use-svg(16, 16, '#arrow-right')

    ul.user-droplist__menu
        -
            var items = [
                {text: 'Support', icon: 'support.svg'},
                {text: 'Logout', icon: 'logout.svg'}
            ]
        each item in items 
            li
                a(href="#!").user-droplist__menu-item
                    .user-droplist__menu-item-icon
                        img(src="./../../img/icons/user-dropdown/" + item.icon, alt="icon")
                    .user-droplist__menu-item-text #{item.text}
                    .user-droplist__menu-item-arrow
                        +use-svg(16, 16, '#arrow-right')