.project-nav {
    display: flex;
    align-items: center;
    font-weight: 600;
    column-gap: 8px;
    font-size: 16px;
    position: fixed;
    left: 0;
    top: 127px;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #000;
    color: #000;
    opacity: 0.8;
    z-index: 999999;
    transform: translateX(-87.5%);
    transition: transform .3s ease-in, color 0s linear 0.3s;

    animation: mymove 10s 1;
    animation-delay: 1s;

    @keyframes mymove {
        from {
            transform: translateX(0);
        }

        0% {
            background-color: red;
            transform: translateX(0);
        }

        25% {
            background-color: yellow;
            transform: translateX(0);
        }

        50% {
            background-color: blue;
            transform: translateX(0);
        }

        100% {
            background-color: green;
        }

        to {
            transform: translateX(-87.5%);
        }
    }

    span{
        max-width: 100px;
    }

    &:hover {
        color: #FFF;
        transform: translateX(0);
    }
}