extends ./../../layouts/booking.pug

block variables 
    - const title = "GlobeTravel - Hotel Booking"

block booking-nav
    | NAV

block booking-left
    .hotel-booking__info Booking info
    .hotel-booking__payment Booking payment
    .hotel-booking__login Booking login

block booking-right
    .hotel-booking__summary Booking summary