extends ./../../layouts/booking.pug

block variables 
    - const title = "GlobeTravel - Hotel Booking"

block booking-left
    +booking-object-card()
    include ./../../blocks/booking-payment-methods.pug
    include ./../../blocks/booking-login.pug
    include ./../../blocks/booking-payment-cards.pug

block booking-right
    +booking-summary()