.header__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 54px;
    padding: 24px 32px;
    font-weight: 600;
    color: #FFF;
    z-index: 9;

    &--inner-page {
        padding-left: 0;
        padding-right: 0;
        color: #000;
    }
}

.header__nav-left,
.header__nav-right {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.header__nav-left {
    li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 4px;

        svg {
            fill: #FFF;
        }
    }

    &--inner-page {
        li svg{
            fill: #000;
        }
    }
}

.header__nav-right {}

a.header__sign-up-link {
    padding-left: 24px;
    padding-right: 24px;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    background-color: #FFF;
    color: $black;

    &--inner-page {
        background-color: $black;
        color: #FFF;
    }
}