.hotel-card {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 296px;
    border-radius: 12px;
    background-color: #FFF;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
}

.hotel-card__image {
    flex-shrink: 0;
    width: 300px;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hotel-card__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 24px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
}

.hotel-card__info {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid transparentize($color: $black, $amount: calc(1 - 0.25));
}

.hotel-card__info-left {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.hotel-card__title {
    // font-family: 'Trade Gothic LT Std';
    font-weight: 700;
    font-size: 20px;
}

.hotel-card__details {
    width: 100%;
    height: 88px;
    background-color: aquamarine;
}


// .hotel-card__info-right {}

.hotel-card__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hotel-card__price-notice {
    font-weight: 500;
    font-size: 12px;
    color: transparentize($color: $black, $amount: calc(1 - 0.75));

    &:first-child {
        align-self: flex-start;
    }
}

.hotel-card__price-accent {
    font-weight: 700;
    color: $accent;

    *:first-child {
        font-size: 24px;
    }

    *:last-child {
        font-size: 14px;
    }
}


.hotel-card__price {}


// .flight-card__header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .flight-card__rating {
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     column-gap: 8px;
// }



// .flight-card__flights {

// }

// .flight__row {
//     display: flex;
//     justify-content: flex-start;
//     align-items: flex-start;
//     column-gap: 12px;
// }

// .flight__column {
//     display: flex;
//     flex-direction: column;
//     row-gap: 4px;

//     &:nth-child(2){
//         width: 198px;
//     }

//     &:nth-child(3){
//         width: 92px;
//     }   
// }

// .flight__checkbox {
//     width: 24px;
//     height: 24px;
//     background-color: #000;
// }

// .flight__shedule {
//     font-weight: 600;
//     font-size: 16px;
// }

// .flight__airline {
//     font-size: 14px;
//     color: transparentize($color: $black, $amount: calc(1 - 0.4));
// }

// .flight__transfers {
//     font-weight: 600;
//     font-size: 14px;
//     color: transparentize($color: $black, $amount: calc(1 - 0.78));
// }

// .flight__duration {
//     font-weight: 600;
//     font-size: 16px;
//     color: transparentize($color: $black, $amount: calc(1 - 0.78));
// }

// .flight__codes {
//     font-size: 14px;
//     color: transparentize($color: $black, $amount: calc(1 - 0.4));
//     text-transform: uppercase;
// }

.hotel-card__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;

    * {
        font-weight: 600;
    }
}