section.booking
    .container
        .booking__cards
            +booking-card(
                'flights', 
                'Flights', 
                'Search Flights & Places Hire to our most popular destinations', 
                'Show Filghts', 
                '#!'
            )
            +booking-card(
                'hotels', 
                'Hotels', 
                'Search hotels & Places Hire to our most popular destinations', 
                'Show Hotels', 
                '#!'
            )