section.flight-features
    .flight-features__header
        h2.flight-features__title Basic Economy Features
        .flight-features__checkboxes 
            -
                var items = [
                    'Economy',
                    'First Class',
                    'Busines Class',
                ]
            each item in items 
                +checkbox()
                    | #{item}

    .flight-features__gallery
        -
            var images = [
                '01.jpg',
                '02.jpg',
                '03.jpg',
                '04.jpg',
                '05.jpg',
                '06.jpg',
                '07.jpg',
                '08.jpg',
                '09.jpg',
            ]
        each image in images 
            .flight-features__image
                img(src="./img/flights/airline-example-1/gallery/" + image, alt="flight feature")