section.flights-and-hotels
    .container
        .flights-and-hotels__cards
            +flights-and-hotels-card(
                'flights', 
                'Flights', 
                'Search Flights & Places Hire to our most popular destinations', 
                'Show Filghts', 
                '#!'
            )
            +flights-and-hotels-card(
                'hotels', 
                'Hotels', 
                'Search hotels & Places Hire to our most popular destinations', 
                'Show Hotels', 
                '#!'
            )