header.header
    .bg-wrapper
        .header__bg
            +header-nav('main')
            .header__content
                .container
                    .header__subtitle Helping Others
                    h1.header__title Live & Travel
                    .header__text Special offers to suit your plan
        form.header__form-wrapper
            +search-form('full')
                






        

