section.hotel-location 
    .hotel-location__header
        h2.hotel-location__title Location/Map
        +button('View on google maps', '', '', '', 'bold')
    .hotel-location__map
        img(src="./img/hotels/map.jpg", alt="map")
    +location('Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437')