section.hotel-gallery 
    img(src="./img/hotels/hotel-example-1/gallery/01.jpg", alt="hotel")
    img(src="./img/hotels/hotel-example-1/gallery/02.jpg", alt="hotel")
    img(src="./img/hotels/hotel-example-1/gallery/03.jpg", alt="hotel")
    img(src="./img/hotels/hotel-example-1/gallery/04.jpg", alt="hotel")
    img(src="./img/hotels/hotel-example-1/gallery/05.jpg", alt="hotel")

    .hotel-gallery__button
        +button('View all photos', '', '', '', 'bold')