section.hotel-location 
    .hotel-location__header
        h2.hotel-location__title Location/Map
        +button('View on google maps', '', '', '', 'bold')

    .hotel-location__map
    
    .hotel-location__adress
        | Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437