section.places
    .container 
        +section-header(
            'Plan your perfect trip', 
            'Search Flights & Places Hire to our most popular destinations', 
            'See more places'
        )
        .places__cards 
            +place-card('Istanbul, Turkey', 'img-01.jpg', '#!')
            +place-card('Sydney, Australia', 'img-02.jpg', '#!')
            +place-card('Baku, Azerbaijan', 'img-03.jpg', '#!')
            +place-card('Malé, Maldives', 'img-04.jpg', '#!')
            +place-card('Paris, France', 'img-05.jpg', '#!')
            +place-card('New York, US', 'img-06.jpg', '#!')
            +place-card('London, UK', 'img-07.jpg', '#!')
            +place-card('Tokyo, Japan', 'img-08.jpg', '#!')
            +place-card('Dubai, UAE', 'img-09.jpg', '#!')









