section.plan-your-trip
    .container 
        +section-header(
            'Plan your perfect trip', 
            'Search Flights & Places Hire to our most popular destinations', 
            'See more places'
        )
        .plan-your-trip__cards 
            +plan-your-trip-card('Istanbul, Turkey', '01.jpg')
            +plan-your-trip-card('Sydney, Australia', '02.jpg')
            +plan-your-trip-card('Baku, Azerbaijan', '03.jpg')
            +plan-your-trip-card('Malé, Maldives', '04.jpg')
            +plan-your-trip-card('Paris, France', '05.jpg')
            +plan-your-trip-card('New York, US', '06.jpg')
            +plan-your-trip-card('London, UK', '07.jpg')
            +plan-your-trip-card('Tokyo, Japan', '08.jpg')
            +plan-your-trip-card('Dubai, UAE', '09.jpg')









