section.reviews-section
    .container 
        +section-header(
            'Reviews', 
            'What people says about Golobe facilities', 
            'See All'
        )
    .container-right    
        .reviews-section__cards 
            +reviews-section-card(
                '“A real sense of community, nurtured”', 
                'Really appreciate the help and support from the staff during these tough times. Shoutout to Katie for...',
                'Olga', 
                'Weave Studios – Kai Tak',
                '01.jpg'
            )
            +reviews-section-card(
                '“The facilities are superb. Clean, slick, bright.”', 
                'Really appreciate the help and support from the staff during these tough times. Shoutout to Katie for...',
                'Thomas', 
                'Weave Studios – Olympic',
                '02.jpg'
            )
            +reviews-section-card(
                '“A real sense of community, nurtured”', 
                'Really appreciate the help and support from the staff during these tough times. Shoutout to Katie for...',
                'Olga', 
                'Weave Studios – Kai Tak',
                '03.jpg'
            )
                        