extends ./../../layouts/login.pug

block variables 
    - const title = "GlobeTravel - Reset password"

block login-left
    +login-header(
        'Forgot your password?', 
        'Don’t worry, happens to all of us. Enter your email below to recover your password',
        {
            text: 'Back to login',
            link: '#!'
        }
    )
    include ./../../blocks/reset-password-form.pug
    +login-with()

block login-right 
    include ./../../blocks/login-slider.pug