extends ./../../layouts/sign-up.pug

block variables 
    - const title = "GlobeTravel - Login index"

block sign-up-left
    include ./../../blocks/login-slider.pug
    
block sign-up-right
    +login-header(
        'Sign Up', 
        'Let’s get you all set up so you can access your personal account.'
    )
    include ./../../blocks/sign-up-form.pug 
    +login-with('Sign up') 