//- +booking-object-card()

mixin booking-object-card()
    .booking-object-card 
        .booking-object-card__top 
            .booking-object-card__title Superior room - 1 double bed or 2 twin beds
            .booking-object-card__price 
                span $240
                span /night
        .booking-object-card__middle 
            .booking-object-card__image
            .booking-object-card__about
                .booking-object-card__about-title
                    | CVK Park Bosphorus Hotel Istanbul
                .booking-object-card__about-adress
                    | Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437
        .booking-object-card__bottom
            .booking-object-card__begin 
                span Thursday, Dec 8
                span Check-In
            .booking-object-card__icon 
            .booking-object-card__end 
                span Friday, Dec 9
                span Check-Out