//- +dual-range()

mixin dual-range(firstValue = '100$', secondValue = '1500$')
    .dual-range-input
        .dual-range-input__track-wrapper
            .dual-range-input__track(data-name='track')
            input(data-name='range-1' type='range' min='50' max='1200' value='0' step='1')
            input(data-name='range-2' type='range' min='50' max='1200' value='1200' step='1')

        .dual-range-input__values
            span(data-name='value-1') #{firstValue}
            span(data-name='value-2') #{secondValue}
