//- +filter-item('Airlines', 'row')

mixin filter-item(title, direction = 'column')
    .filter-item
        .filter-item__header
            h4.filter-item__title #{title}
            svg(width="24", height="24")
                use(href="#arrow-down")
        .filter-item__content(
            class='filter-item__content--' + direction
        )
            block
