//- +hotel-card(
//-     'Eresin Hotels Sultanahmet - Boutique Class',
//-     'hotels/hotel-example-1/cover.jpg'
//- )

mixin hotel-card(title = '', image = '')
    .hotel-card
        .hotel-card__image 
            img(src="./img/" + image, alt="hotel")
        .hotel-card__content
            .hotel-card__info
                .hotel-card__info-left 
                    .hotel-card__title #{title}
                    .hotel-card__details 
                        +location('Gümüssuyu Mah. Inönü Cad. No:8, Istanbul 34437', 'hotel-card')
                        +stars(5)
                        +rating('4.2', 'Very good', {text: '54 reviews', link: '#!'})

                .hotel-card__info-right 
                    .hotel-card__info-right 
                        .hotel-card__price
                            .hotel-card__price-notice starting from
                            +price('$240', '/night', '')
                            .hotel-card__price-notice excl. tax

            .hotel-card__buttons
                +fav-button
                +button('View Place', '428px', '', '', 'bold')