mixin review-card(title, text, author, place, img)
    .review-card
        .review-card__content
            .review-card__title #{title}
            .review-card__text #{text}
            .review-card__details
                | View more
        .review-card__rating
            .review-card__stars 
                - let count = 0;
                while count < 5
                    svg(width="24", height="24")
                        use(href="#star-icon")
                    - count += 1;
            .review-card__author #{author}
            .review-card__place #{place}
            .review-card__google-link
                svg(width="24", height="24")
                    use(href="#google-icon")
                | Google
        .review-card__image
            img(src="./../../img/reviews/" + img, alt= title)

