include ./../mixins/place-card.pug
include ./../mixins/booking-card.pug
include ./../mixins/review-card.pug
include ./../mixins/section-header.pug
include ./../mixins/footer-nav.pug
include ./../mixins/header-nav.pug
include ./../mixins/buttons.pug
include ./../mixins/inputs.pug 
include ./../mixins/checkboxes.pug 
include ./../mixins/login-header.pug 
include ./../mixins/login-with.pug 
include ./../mixins/logo.pug 
include ./../mixins/filter-item.pug 
include ./../mixins/dual-range.pug 
include ./../mixins/flight-card.pug 
include ./../mixins/hotel-card.pug 
include ./../mixins/rating-box.pug 
include ./../mixins/search-form.pug 
include ./../mixins/slider-inner.pug 
include ./../mixins/use-svg.pug 
include ./../mixins/tabs.pug 
include ./../mixins/account-booking-card.pug 
include ./../mixins/booking-summary.pug 
include ./../mixins/booking-object-card.pug

