.modal(modal-window='links')
    .modal__content
        i(style="color: gray") Верстка многостраничного сайта сервиса бронирования билетов и отелей с использованием препроцессора SCSS, синтаксиса PUG и сборки Gulp. 
        br
        a(href="/index.html" target="_blank") Main
        br
        a(href="/flights/flight-search.html" target="_blank") Flight search
        a(href="/flights/flight-listing.html" target="_blank") Flight listing
        a(href="/flights/flight-details.html" target="_blank") Flight details
        a(href="/flights/flight-booking.html" target="_blank") Flight booking
        br
        a(href="/hotels/hotel-search.html" target="_blank") Hotel search
        a(href="/hotels/hotel-listing.html" target="_blank") Hotel listing
        a(href="/hotels/hotel-details.html" target="_blank") Hotel details
        a(href="/hotels/hotel-booking.html" target="_blank") Hotel booking
        br
        a(href="/account/account-main.html" target="_blank") User account main
        a(href="/account/account-history.html" target="_blank") User account history
        a(href="/account/account-payments.html" target="_blank") User account payments
        br
        a(href="/login/login.html" target="_blank") Login
        a(href="/login/sign-up.html" target="_blank") Sign Up
        a(href="/login/reset-password.html" target="_blank") Reset Password
        a(href="/login/verify-code.html" target="_blank") Verify Code
        a(href="/login/set-password.html" target="_blank") Set Password