.modal(modal-window='links')
    .modal__content
        i(style="color: gray") Верстка многостраничного сайта сервиса бронирования билетов и отелей с использованием препроцессора SCSS, синтаксиса PUG и сборки Gulp. 
        br
        a(href="/index.html") Main
        br
        a(href="/flight-search.html") Flight search
        a(href="/flight-listing.html") Flight listing
        a(href="/flight-details.html") Flight details
        a(href="/flight-booking.html") Flight booking
        br
        a(href="/hotel-search.html") Hotel search
        a(href="/hotel-listing.html") Hotel listing
        a(href="/hotel-details.html") Hotel details
        a(href="/hotel-booking.html") Hotel booking
        br
        a(href="/account.html") User account
        br
        a(href="/login-main.html") Login
        a(href="/login-sign-up.html") Sign Up
        a(href="/login-reset-password.html") Reset Password
        a(href="/login-verify-code.html") Verify Code
        a(href="/login-set-password.html") Set Password