extends ./../layouts/main.pug

block variables 
    - const title = "GlobeTravel - Flight Search"

block content 
    +header-inner(false)

    main
        +slider-inner(
            'Make your travel whishlist, we’ll do the rest', 
            'Special offers to suit your plan'
        )
            block slider-inner-background
                img(src="./img/flights/header.jpg", alt="flights")
            
            block slider-inner-form
                +search-form('full', 'visible', 'none')

        include ./../sections/places-on-map.pug 
        include ./../sections/fall-into-travel.pug 
        include ./../sections/last-minute-tours.pug 
                        
    include ./../sections/footer.pug 