extends ./../layouts/main.pug

block variables 
    - var title = "Golobe - Travel Agency"
    - var login = true
    - var animated = false

block content
    +header(login)

    main
        include ./../sections/plan-your-trip.pug 
        include ./../sections/flights-and-hotels.pug 
        include ./../sections/reviews-section.pug 

    include ./../sections/footer.pug