extends ./../layouts/login.pug

block variables 
    - const title = "GlobeTravel - Set Password"

block login-left
    +login-header(
        'Set a password', 
        'Your previous password has been reseted. Please set a new password for your account.'
    )
    include ./../blocks/set-password-form.pug

block login-right
    include ./../blocks/login-slider.pug