extends ./main.pug

block content 

    include ./../sections/header-inner.pug 

    main.account
        include ./../sections/account-cover.pug  
        include ./../sections/account-tabs.pug  
                
    include ./../sections/footer.pug