extends ./main.pug

block variables

block content 
    +header-inner(login)

    main.account
        include ./../sections/account-cover.pug  
        include ./../sections/account-tabs.pug  
                
    include ./../sections/footer.pug