extends ./main.pug

block content

    include ./../sections/header-inner.pug 

    main.booking 
        .container
            .booking__nav 
                include ./../blocks/track-nav.pug
            
            .booking__row
                .booking__left
                    block booking-left

                .booking__right
                    block booking-right
    
    include ./../sections/footer.pug 