extends ./main.pug

block variables

block content
    +header-inner(login)

    main.details 
        .container
            .details__nav 
                include ./../blocks/track-nav.pug
            
            .details__header
                block details-header 

            .details__flight-content
                block details-flight-content

            .details__hotel-content
                block details-hotel-content

    include ./../sections/footer.pug 