extends ./main.pug

block content

    include ./../sections/header-inner.pug 

    main.details 
        .container
            .details__nav 
                include ./../blocks/track-nav.pug
            
            .details__header
                block details-header 

            .details__content
                block details-content

    include ./../sections/footer.pug 