extends ./main.pug

block content
    main.login
        .container 
            .login__row 
                .login__left
                    .login__logo
                        +logo('header-inner')
                    .login__content
                        block login-left

                .login__right
                    block login-right